page-medikationsplan {
  .card-content {
    padding-right: 2px;
    padding-left: 14px;
  }

  .spacer {
    margin-top: 1.2em;
  }

  .first-col {
    min-width: 75px;
    max-width: 75px;
  }

  #info div {
    text-align: center;
    margin-top: 1.6em;
  }

  .card .list .item {
    border-top: 1px solid color($colors, light, base);
    padding-left: 0;
  }

}
